<!DOCTYPE html>{% load i18n %}
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE }}" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title_base %}{% block head_title %}{% endblock %} - FineUploader{% endblock %}</title>
    {% block extra_head_base %}
      {% block extra_head %}{% endblock extra_head %}
    {% endblock extra_head_base %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <noscript>
      <div class="noscript text-center alert alert-danger">
	{% blocktrans %}For full functionality of this site it is necessary to enable JavaScript. Here are the <a class="alert-link" href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.{% endblocktrans %}
      </div>
    </noscript>
    {% block body %}
      <header>{% block header %}{% endblock %}</header>
      <section id="content" class="container" role="main">
        <div class="row">
          {% block content_outer %}
            {% block content %}{% endblock %}
          {% endblock content_outer %}
        </div>
      </section>
      <footer>{% block footer %}{% endblock %}</footer>
      {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
      {% endblock extra_body_base %}
    {% endblock body %}
</body>
